html,
body {
    height: 100%;
    background-color: #333 !important;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
}

a,
a:focus,
a:hover {
    color: #fff !important;
    outline: none;
}

.list-group-item:hover .btn {
  opacity: 1;
}

.dropdown-menu {
  border-radius: 0 !important;
}